#contenedor{
    border: 2px solid black;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#cabeceraPago{
    background-color: rgb(9, 52, 52);
    color: rgb(255, 255, 255);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenidoPago{
    background-color: darkseagreen; 
    padding: 50px;
    height: 300px;
    
}
h3{
    display: flex;
    justify-content: center;
}

#registros{
    width: 800px;;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.registro{
    display: flex;
    flex-direction: column;
}

.boton{
    background-color: black;
    color: aliceblue;
}

#piePago{
    display: flex;
    align-items: flex-end;
    background-color: black;
    color: rgb(125, 210, 223);
    justify-content: center;

}